body{
    text-align: center;
}

@function calcular-ancho($ancho-base, $incremento) {
    @return $ancho-base + $incremento;
  }
  
 
  .Directivas {
    width: calcular-ancho(200px, 50px); 
  }

@function generar-degradado($color1, $color2) {
    @return linear-gradient(to right, $color1, $color2);
  }

  .Directivas {
    background: generar-degradado(#ff0000, #00ff00); 
    margin-left: 825px;
  }
  

  